.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
ENV/

# Env files (never commit secrets)
.env
.env.*

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ignore env files
.env
*.env


SCRT/

cosign.key
pub-cert.pem
cosign.pub